<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reseter.css">
    <link rel="stylesheet" href="/css/choices.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <title>Обновление объекта</title>
</head>
<body>
<section class="section">
    <div class="burger-menu">
        <div class="burger-menu__line"></div>
    </div>
    <div class="main-container">
        <div class="menu">
            <div class="menu__wrapper">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__wrapper">
                            <div class="logo-icon">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3751FF"/>
                                    <path d="M11 10C11 9.44772 11.4477 9 12 9H15.9905C18.2127 9 19.9333 9.60955 21.1524 10.8287C22.3841 12.0478 23 13.765 23 15.9803C23 18.2088 22.3841 19.9391 21.1524 21.1713C19.9333 22.3904 18.2127 23 15.9905 23H12C11.4477 23 11 22.5523 11 22V10Z"
                                          fill="url(#paint0_linear_584_285)"/>
                                    <defs>
                                        <linearGradient id="paint0_linear_584_285" x1="11" y1="9" x2="23" y2="23"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white" stop-opacity="0.7"/>
                                            <stop offset="1" stop-color="white"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <span class="logo__text">
                            Система управления
                        </span>
                        </div>
                    </a>
                </div>
                <ul class="menu__list">
                    <li class="menu__list-item menu__list-item--orders">
                        <a href="/orders/main" class="menu__link">Заказы</a>
                    </li>
                    <li class="menu__list-item menu__list-item--clients">
                        <a href="/clients/main" class="menu__link">Клиенты</a>
                    </li>
                    <li class="menu__list-item menu__list-item--objects menu__list-item--active">
                        <a href="/objects/main" class="menu__link">Объекты</a>
                    </li>
                    <li class="menu__list-item menu__list-item--employees">
                        <a href="/employees/main" class="menu__link">Рабочие</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="info__wrapper">
                <h1 class="info__title info__title--margin-bottom40px">Обновление
                    объекта</h1>
                <form th:action="@{/objects/edit}" th:object="${buildObject}" class="form" method="POST">
                    <input type="hidden" th:field="*{id}" class="form__input" required>

                    <span class="form__validation-text" th:if="${#fields.hasErrors('objectName')}" th:errors="*{objectName}"></span>
                    <label class="form__label">Название</label>
                    <input type="text" th:field="*{objectName}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                    <label class="form__label">Дата начала работ</label>
                    <input type="date" th:field="*{startDate}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                    <label class="form__label">Дата окончания работ</label>
                    <input type="date" th:field="*{endDate}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('objectCategory')}" th:errors="*{objectCategory}"></span>
                    <label class="form__label">Категория</label>
                    <select th:field="*{objectCategory}" class="form__input form__select">
                        <option th:selected="${buildObject.objectCategory == 'Жилой объект'}" value="Жилой объект">Жилой объект</option>
                        <option th:selected="${buildObject.objectCategory == 'Нежилой объект'}" value="Нежилой объект">Нежилой объект</option>
                    </select>

                    <span class="form__validation-text" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    <label class="form__label">Стоимость работ</label>
                    <input th:field="*{price}" type="number" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                    <label class="form__label">Телефон</label>
                    <input type="text" th:field="*{phone}" class="form__input mask-phone">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('indexRegion')}" th:errors="*{indexRegion}"></span>
                    <label class="form__label">Индекс</label>
                    <input type="text" th:field="*{indexRegion}" class="form__input mask-index">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>
                    <label class="form__label">Регион</label>
                    <input type="text" th:field="*{region}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                    <label class="form__label">Город</label>
                    <input type="text" th:field="*{city}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
                    <label class="form__label">Улица</label>
                    <input type="text" th:field="*{street}" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('home')}" th:errors="*{home}"></span>
                    <label class="form__label">Дом</label>
                    <input th:field="*{home}" type="text" class="form__input">

                    <span class="form__validation-text" th:if="${#fields.hasErrors('flat')}" th:errors="*{flat}"></span>
                    <label class="form__label">Квартира</label>
                    <input th:field="*{flat}" type="number" class="form__input">

                    <input type="submit" name="submit" class="form__submit" value="Изменить">
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/choices.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>