<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reseter.css">
    <link rel="stylesheet" href="/css/choices.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <title>Объекты</title>
</head>
<body>
<section class="section">
    <div class="burger-menu">
        <div class="burger-menu__line"></div>
    </div>
    <div class="main-container">
        <div class="menu">
            <div class="menu__wrapper">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__wrapper">
                            <div class="logo-icon">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3751FF"/>
                                    <path d="M11 10C11 9.44772 11.4477 9 12 9H15.9905C18.2127 9 19.9333 9.60955 21.1524 10.8287C22.3841 12.0478 23 13.765 23 15.9803C23 18.2088 22.3841 19.9391 21.1524 21.1713C19.9333 22.3904 18.2127 23 15.9905 23H12C11.4477 23 11 22.5523 11 22V10Z"
                                          fill="url(#paint0_linear_584_285)"/>
                                    <defs>
                                        <linearGradient id="paint0_linear_584_285" x1="11" y1="9" x2="23" y2="23"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white" stop-opacity="0.7"/>
                                            <stop offset="1" stop-color="white"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <span class="logo__text">
                            Система управления
                        </span>
                        </div>
                    </a>
                </div>
                <ul class="menu__list">
                    <li class="menu__list-item menu__list-item--orders">
                        <a href="/orders/main" class="menu__link">Заказы</a>
                    </li>
                    <li class="menu__list-item menu__list-item--clients">
                        <a href="/clients/main" class="menu__link">Клиенты</a>
                    </li>
                    <li class="menu__list-item menu__list-item--objects menu__list-item--active">
                        <a href="/objects/main" class="menu__link">Объекты</a>
                    </li>
                    <li class="menu__list-item menu__list-item--employees">
                        <a href="/employees/main" class="menu__link">Рабочие</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="info__wrapper">
                <h1 class="info__title">Фотографии объекта</h1>
                <a th:href="@{'/objects/photos/new/' + ${buildObjectId}}" class="button button--blue
                button--right">Добавить фото</a>
                <div class="info__photos-wrapper">
                    <div th:each="photo: ${photos}" class="info__image-object">
                        <p class="info__image-object-date" th:text="${'Дата загрузки фото: ' + #dates.format(photo.addDate, 'dd-MM-yyyy') + ' г.'}"></p>
                        <img th:src="${photo.photoPath}" alt="object-photo.jpeg"
                             class="info__object-photo">
                        <a th:href="@{'/objects/photos/delete/' + ${photo.id} + '/'  + ${buildObjectId}}" class="info__image-object-delete"></a>
                        <p class="info__image-object-desc" th:text="${photo.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>